doctype

head
    meta(charset='utf-8')
    title Hello World
    link(rel='stylesheet', href='main.css')
    script(src='main.js')

body
    script.
        var app = Elm.fullscreen(Elm.Main)
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('service-worker.js')
        }
